* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #fff;
    font-size: 18px;
    line-height: 56px;
    padding-left: 16px;
    background-color: #F44336;
}

header .fa-chevron-left {
    margin-right: 16px;
}
.search{
    background-color: #F44336;
}
.search .input-field input[type=text]{
    background-color: white;
    width: 80%;
    color: black;
    padding-left: 40px;
}
.search .fa-search{
    font-size: 25px;
    color: black;
    position: absolute;
    left: 10px;
    top: 15px;
}
.search .row .col{
    padding: 0;
}
.search .row{
    margin-bottom: 0;
}
.search .input-field{
    position: relative;
}
/* Section */
section .station-container{
    background-color: rgba(128, 128, 128, 0.44);
    padding: 5px;
}
section .station-container .station{
    border-bottom: 10px solid white;
}
section .station-container .station span{
    position: absolute;
    right: 5px;
    top: 65px;
}
section .station-container .station span i{
    font-size: 20px;
    color: #5a5a5a;
	cursor: pointer;
}
section .station-container .station .row .col{
    position: relative;
}
